:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1570px;
  --fixed-width: 620px;
}

body {
  background: var(--clr-grey-10);
  max-width: var(--max-width);
  font-family: 'Nova Square', cursive;
  color:#fff;
  box-sizing: border-box;
  margin: 5px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.table {
  width: 65vw;
  color:#000;
  box-shadow: var(--dark-shadow);
  font-size:0.9em ;
  margin-right: 4px;
  background-color: #fff;
  transition: var(--transition);
  border-radius: 5px;
}
.task-table {
  width: 100%;
  height: fit-content;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.todo {
  width: 30vw;
  height: fit-content;
  background-color: #000;
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}
.task-heading {
  color: #fff;
  text-align: center;
}
.task-label {
  display: block;
}
.task-input {
  width: 250px;
  height: 35px;
  border-radius: 3px;
}
.task-area {
  height:100px;
  scroll-behavior: smooth;
}
.task-button {
  height: 40px;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
}
.remove{
  height: 40px;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  width: 50%;
  margin: 5px;
}

table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;
}
th {
  width: 40%;
  text-align: center;
}
td{
  text-align: center;
}
.table thead tr {
  text-align: left;
  background-color: #000;
  color:#fff;
}
.del {
  color: #000;
  width: 2em;
  height: 2em;
}

@media only screen and (max-width:800px){
  .container {
    flex-direction: column-reverse;
    align-content: space-between;
  
  }
 .table {
   width:100vw;
   margin-top: 10px;
   padding :10px;
 }
.todo{
  width: 85vw;
  margin: 10px;
  
}
}

